*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 223, 223);
}

.cabecalho{
    width: 100vw;
    height: 13vh;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid rgb(36, 153, 221);
}

.logo{
    margin-left: 12px;
    width: 28%;
}

.logo a img{
    width: 80%;
    height: auto;
    background-size: cover;
}

.menu-toggle{
    padding: 12px;
    background-color: rgb(221, 221, 221);
    border-radius: 0.7rem;
    position: absolute;
    right: 0;
    margin-right: 20px;
    visibility: hidden;
    cursor: pointer;
    display: none;
}

.menu{

    width: auto;
}

.menu,ul{
    display: flex;
}


ul li{
    padding-top: 15px;
    padding-bottom: 15px;
}

ul,li a{
    text-decoration: none;
    font-size: 1.4rem;
    list-style: none;
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    
}

.molde{
    display: flex;
    align-items: center;
}

.botao{
    background-color: rgb(209, 14, 14);
    border-radius: 2rem;
    margin-right: 20px;
    
}

.autenticacao{
    display: flex;
}

.autenticacao a{
    text-decoration: none;
    font-size: 1.2rem;
    list-style: none;
    color: white;
    padding: 10px 16px 10px 16px;

}


.menu a.selected{
    background-color: rgb(99, 196, 252);
    color: black;
}

ul li:hover{
    background-color: rgb(99, 196, 252);
}

ul li a:hover{
    color: black;
}


@media (max-width: 860px){
    .menu{
        display: none;
    }
    .logo{
        
        width: 48%;
    }

    .autenticacao{
        display: none;
    }

    .menu-toggle{
        visibility: visible;
        display: inline-block;
        padding: 9px;
    }
}